html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
    /* Adjust content box-sizing to fit within the page */
    box-sizing: border-box;
}

/* Optional Header */
.optional-header {
    padding: 0.5rem 0;
    text-align: center;
}

/* Footer Styles */
footer {
    padding: 1rem 0;
    text-align: center;
}

footer .social-icons .btn {
    padding: 0.5rem;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .optional-header, footer {
        height: auto;
    }

    main {
        padding: 1rem;
    }
}
